.price-card {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
  overflow: hidden;
  width: 380px;
  height: 770px;
  background-color: #334247;
}
.price-card:last-child {
  margin-right: 0;
}
.price-card__promotion {
  position: absolute;
  top: 31px;
  right: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 147px;
  height: 25px;
  font-size: 14px;
  font-weight: 700;
  background-color: rgb(220, 63, 69);
  transform: rotate(45deg);
}
.price-card__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 37px;
  text-align: center;
}
.price-card__price {
  margin-bottom: 37px;
  margin-top: 41px;
  line-height: 105px;
  width: 380px;
  height: 105px;
  text-align: center;
  font-size: 55px;
  font-weight: 700;
}
.price-card__price_green {
  background-color: #5bb189;
}
.price-card__price_blue {
  background-color: #3a6ba5;
  position: relative;
  top: 65px;
}
.price-card__price_orange {
  background-color: #ec632a;
}
.price-card__wrapper {
  position: relative;
  top: 15px;
}
.price-card__description {
  position: relative;
  bottom: 15px;
  padding-left: 26px;
  padding-right: 26px;
  margin-bottom: 37px;
  line-height: 18px;
  font-size: 15px;
  text-align: center;
}
.price-card__description_second {
  margin-bottom: 53px;
  position: relative;
  top: 54px;
}
.price-card__options-list {
  position: relative;
  bottom: 13px;
  padding: 0;
  margin: 0;
}
.price-card__options-list_second {
  position: relative;
  top: 41px;
}
.price-card__options-list-item:nth-child(odd) {
  background-color: #2a3438;
  line-height: 18px;
  font-size: 15px;
}
.price-card__options-list-item {
  height: 50px;
  line-height: 18px;
  font-size: 15px;
}
.price-card__icon {
  position: absolute;
  display: inline-block;
  margin-top: 18px;
  margin-left: 22px;
  margin-right: 22px;
  margin-bottom: 22px;
  width: 15px;
  height: 13px;
  list-style-type: none;
}
.price-card__icon_green {
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png");
}
.price-card__icon_blue {
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png");
}
.price-card__icon_orange {
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png");
}
.price-card__order-btn {
  position: relative;
  bottom: 5px;
  margin: auto;
  line-height: 17px;
  border-radius: 20px;
  border: none;
  text-align: center;
  width: 154px;
  height: 40px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}
.price-card__order-btn_green {
  background-color: #5bb189;
}
.price-card__order-btn_blue {
  background-color: #3a6ba5;
  margin-left: 112px;
  margin-top: 35px;
  position: relative;
  top: 60px;
}
.price-card__order-btn_orange {
  background-color: #ec632a;
}

.contaiter-for-content {
  position: relative;
  bottom: 66px;
}

.container__title {
  margin: 0;
  padding: 0;
  line-height: 100%;
  font-size: 35px;
  font-weight: 700;
}
.container__subtitle {
  position: relative;
  top: 5px;
  margin: 0;
  padding: 0;
  line-height: 100%;
  font-size: 20px;
}
.container_second {
  position: relative;
  top: 67px;
}

.description-for-list-item {
  position: relative;
  top: 16px;
  right: 3px;
  left: 57px;
  margin-bottom: 40px;
}

* {
  box-sizing: border-box;
}

html {
  display: flex;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  background-color: #141b1c;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  min-height: 100vh;
}

.price-cards {
  display: flex;
  margin: auto;
  color: #fff;
  gap: 18px;
}

/*# sourceMappingURL=styles.css.map */
