@import 'variables.scss';
@import 'price-card.scss';

* {
  box-sizing: border-box;
}

html {
  display: flex;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background-color: $dark;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  min-height: 100vh;
}

.price-cards {
  display: flex;
  margin: auto;
  color: $white;
  gap: 18px;
}
